@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.about-cont {
	position: relative;
	@include responsive {
		padding: 0 3.95rem;
	}
	.allipse {
		display: none;
		@include responsive {
			position: absolute;
			left: 0.8rem;
			bottom: 0.8rem;
			display: block;
			z-index: 1;
		}
	}
}
.about {
	display: grid;
	row-gap: 5.5rem;
}
.about_title {
	text-align: center;
	h2 {
		font-family: "Poppins";
		font-weight: 400;
		font-style: normal;
		font-size: 2.8rem;
		line-height: 3.6rem;
		letter-spacing: 0.2px;
		color: $color-text-heading;
	}
	.p {
		font-family: "Open Sans";
		font-weight: 400;
		font-style: normal;
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: $color-text-secondary;
		letter-spacing: 0.2px;
	}
}
.card__wrapper {
	display: grid;
	grid-template-columns: repeat(1, minmax(26.4rem, 37.1rem));
	row-gap: 5.5rem;
	column-gap: 2rem;
	justify-content: center;
	@include responsive {
		grid-template-columns: repeat(3, minmax(26.4rem, 37.1rem));
	}
	.about-us-card {
		position: relative;
		@include flex(NULL, center, column);
		text-align: center;
		border-radius: 1.1rem;
		min-height: 24.3rem;
		max-height: 27.3rem;
		box-shadow: 1.42318px 2.84636px 27.0404px rgba(0, 0, 0, 0.08);
        background-color: $color-btn-secondary;
        padding: 0 4.4rem;
        z-index: 2;
		h2 {
			font-family: "Plus Jakarta Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 23px;
			color: $color-text-secondary;
		}
		p {
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 180%;
			color: $color-text-subtle;
		}
	}
}
.doc {
	position: absolute;
	left: 50%;
	top: -2.5rem;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5.05rem;
	background-color: $color-header-primary;
	width: 5.05rem;
	border-radius: 50%;
	img {
		display: block;
		min-width: 1.667rem;
		max-width: 2.343rem;
	}
}
.about-btn {
	display: grid;
	justify-self: center;
	background: $color-text-secondary;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: $color-btn-secondary;
	padding: 8px 12px;
	gap: 10px;
	background: $color-header-primary;
	border-radius: 8px;
    @include responsive {
		padding: 1.5rem 4.4rem;
	}
}
