@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.container {
    @include flex(center, center, column, 2.4rem);
    .hero__content {
        @include flex(center, center, column, 1.4rem);
        text-align: center;
        & h1 {
            font-size: 3.2rem;
            color: $color-text-heading;
        }
        & p {
            font-size: 1.6rem;
            color: $color-text-secondary;
        }

        & .hero__buttons {
            @include flex(center, center, row, 1.4rem);
            & .btn {
                font-size: 1.4rem;
                padding: 0.8rem 1.2rem;
                border-radius: $border-radius-btn;

                &--primary {
                    background-color: $color-btn-primary;
                    color: $color-btn-secondary;
                }
                
                &--play {
                    box-shadow: 2px -2px 38px rgba(0, 0, 0, 0.08);
                }
                &--link {
                     @include flex(center, center, row, 1.4rem);
                     & span {
                        width: 3.6rem;
                        height: 3.6rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        border-radius: 50%;
                     }
                     & img {
                        width: 1.7rem;
                        height: 1.7rem;
                        margin-left: 4px;
                     }
                }
            }
        }
    }
    .hero__statistics {
        display: flex;
        .hero-info {
            @include flex(null, center, column, 0.51rem);
            article {
                @include flex(center, center, column, 0.1rem);
                width: 6.1rem;
                height: 4.5rem;
                box-shadow: 0.73829px 1.47658px 14.0275px rgba(0, 0, 0, 0.08);
                gap: 0.1rem;
                border-radius: $border-radius-slider-btn;
                h3 {
                    font-family: $font-avenir;
                    font-size: 0.5rem;
                }
                h4 {
                    font-family: $font-avenir;
                    font-size: 0.4rem;
                }
            } 
            span {
                background-color: $color-btn-primary;
                border-radius: $border-radius-icon;
                width: 11px;
                height: 11px;
                font-size: 10px;
                color: white;
                @include flex(center, center, column);
            }
        }
    }
}
