@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.service-wrapper {
	display: grid;
	place-content: center;
	row-gap: 2.4rem;
	border-radius: 2.9rem;
	background-color: $color-accent;
	grid-template: repeat(3, auto) / 1fr;
	padding: 2.4rem 1.3rem;
	@include responsive {
		grid-template: 1fr / repeat(2, 1fr);
		column-gap: 8.5rem;
		padding: 8.4rem 9.6rem;
	}
}

.service-hero {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	.service-title {
		text-align: center;
		@include responsive {
			text-align: left;
		}

		h2 {
			font-weight: 400;
			font-size: 28px;
			line-height: 40px;
			letter-spacing: 0.2px;
			color: $color-text-heading;
			@include responsive {
				font-weight: 600;
				font-size: 42px;
				line-height: 63px;
				text-transform: capitalize;
				color: $color-text-secondary;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			color: $color-text-secondary;
			@include responsive {
				font-size: 18px;
				line-height: 27px;
			}
		}
	}

	ul {
		display: grid;
		list-style: none;
		row-gap: 2rem;
		padding: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: $color-text-secondary;

		li {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			column-gap: 1.2rem;
		}
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.8rem;
		height: 3.8rem;
		border-radius: 50%;
		background-color: $color-text-primary;
		margin-right: 1.2rem;
		@include responsive {
			width: 5.3rem;
			height: 5.3rem;
		}
	}
}

.service-details {
	position: relative;
	display: flex;
	justify-content: end;
	@include responsive {
		grid-area: 1/1/3/2;
		align-items: center;
		justify-content: center;
	}
	.card-service {
		display: grid;
		grid-template-rows: auto 1fr;
		width: 23.368rem;
		background: rgba(234, 234, 234, 0.6);
		backdrop-filter: blur(12px);
		--webkit-backdrop-filter: blur(12px);
		border-radius: 0.6rem;
		overflow: hidden;
		@include responsive {
			width: 46.2rem;
		}
	}
}

.points {
	display: flex;
	align-items: center;
	padding-left: 0.8rem;
	gap: 0.3rem;
	background-color: rgba(234, 234, 234, 0.3);
	backdrop-filter: blur(25.2874px);
	min-height: 1.366rem;
	@include responsive {
		height: 2.7rem;
		gap: 0.6rem;
	}

	span {
		border-radius: 50%;
		height: 0.5rem;
		width: 0.5rem;
		background-color: #f6c566;
		@include responsive {
			width: 1.1rem;
			height: 1.1rem;
		}

		&:first-child {
			background-color: #ee6767;
		}

		&:last-child {
			background-color: #5beb7b;
		}
	}
}

.img-service {
	display: grid;
	padding: 1.2rem;
	gap: 1.2rem;
	@include responsive {
		gap: 2.4rem;
		padding: 2.4rem 3.2rem;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0.7rem;
		@include responsive {
			&:first-child {
				height: 20.3rem;
			}
			height: 17.6rem;
		}
	}

	img:first-child {
		grid-area: 1 / 1 / 2 / 3;
	}
}

.service-details::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2rem;
	display: block;
	width: 9.964rem;
	height: 9.964rem;
	border-radius: 50%;
	background-color: $color-header-primary;
	@include responsive {
		width: 19.7rem;
		height: 19.7rem;
		left: -7%;
		bottom: -5rem;
	}
}

.btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2.4rem;
	@include responsive {
		margin: 0;
		justify-content: start;
	}
	.service-btn {
		text-align: center;
		padding: 8px 12px;
		background: $color-header-primary;
		border-radius: 8px;
		font-weight: 500;
		font-size: 14px;
		color: $color-btn-secondary;
		text-decoration: none;
		@include responsive {
			padding: 15px 43px;
		}
	}
}
