@font-face {
  font-family: 'Avenir LT Std';
  font-display: swap;
  src: url('../fonts/Avenir/AvenirLTStd-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Jakarta';
  font-display: swap;
  src: url('../fonts/Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
} 