@use './variables' as *;

@mixin flex($align: flex-start, $justify: flex-start, $direction: row, $gap: 1rem) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($min: 25rem, $gap: 2rem, $fit: auto-fit) {
    display: grid;
    grid-template-columns: repeat($fit, minmax($min, 1fr));
    gap: $gap;
}

