@mixin flex($align: flex-start, $justify: flex-start, $direction: row, $gap: 1rem) {
	display: flex;
	@if $align != 'null' {
		align-items: $align;
	}
	@if $justify != 'null' {
		justify-content: $justify;
	}
	@if $direction != 'null' {
		flex-direction: $direction;
	}
	@if $gap != 'null' {
		gap: $gap;
	}
}

@mixin grid($min: 25rem, $gap: 2rem, $fit: auto-fit) {
	display: grid;
	grid-template-columns: repeat($fit, minmax($min, 1fr));
	gap: $gap;
}
@mixin responsive {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 1234px) {
    @content;
  }
}